<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MiniWhatsapp</title>
</head>
<link rel="stylesheet" href="/style.css "> 
<body>
    <h1>All Chats</h1>
    <form method="GET" action="/chats/new">
        <button>New Chat</button>
    </form>

<% for(let chat of chats) { %>
    <hr>
  <div class="chat"> 
    <p>From: <%= chat.from %></p>
    <div class="message">
      <p>Sent at: <%= chat.created_at.toString().split(" ")[4] %></p>
      <p>Sent at: <%= chat.created_at.toString().split(" ").slice(0,4).join("-") %></p>
      
      <p>Message: <%= chat.message %></p>

      <form method="GET" action="/chats/<%=chat._id%>/edit">
        <button>edit</button>
      </form>
      <form method="POST" action="/chats/<%=chat._id%>?_method=DELETE" class="delete-form">
        <button type="submit">Delete</button>
      </form>
    </div>
    <p>Received By: <%= chat.to %></p>
  </div>
  <hr>
<% } %>

<script src="/script.js"></script>
</body>
</html>

